{{include file="head.html"}}
<div class="daohang"><a href="index.php">首页</a>&gt;<a href="index.php?action=gywm&nid=1">关于我们</a>&gt;<a href="index.php?action=link">联系我们</a>&gt;直接留言</div>
<hr />
<div class="linkus">
	<div class="linkustitle">{{$link.comname}}</div>
	<form action="index.php?action=addMessage" method="post">
		<p>姓名：<input id="username" name="username" type="text" value="" class="lyinput" /></p>
		<p>手机：<input id="tel" name="tel" type="text" value="" class="lyinput" /></p>
		<p>email：<input id="email" name="email" type="text" value="" class="lyinput" /></p>
		<p>
			<img src="images/yx_29.jpg" alt="蝶讯电子" />
            <img src="images/yx_27.jpg" alt="蝶讯电子" />
            <input id="topic" name="topic" type="text" value="" class="lyinput" />
        </p>
        <p><textarea id="content1" name="content1" class="content1"></textarea></p>
        <p><input type="image" src="images/yx_28.jpg" /></p>
    </form>
</div>
<div class="linknav">
	<div class="title">联系方式</div>
	<div class="blueban"></div>
	<div class="link" style="background:#F90;">直接留言</div>
	<div class="link"><a href="index.php?action=link">公司信息</a></div>
</div>
<div class="cl"></div>
{{include file="footer.html"}}