{{include file='header.html'}}
<form name="fmEdit" id="fmEdit" method="post" action="admin.php?action=save" enctype="multipart/form-data">
	<input type="hidden" name="id" id="id" value="{{$admin.id}}" />
	<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">
		<tr>
			<td width="10%">管理员名称：</td>
			<td>
				<input name="username" id="username" value="{{$admin.username}}"  class="frminput" />
			</td>
		</tr>
		<tr>
			<td width="10%">密码：</td>
			<td>
				<input name="password" id="password" value="{{$admin.pwd}}" class="frminput"/>
			</td>
		</tr>
		<tr>
			<td width="10%">审核：</td>
			<td class="sel">
				<select name="checked" id="checked">
      				<option value="1" {{if $admin.checked==1}} selected="selected" {{/if}}>已审核</option>
      				<option value="2" {{if $admin.checked==2}} selected="selected" {{/if}}>未审核</option>
				</select>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="submit" value="提交">
				<input type="reset" value="重置">
			</td>
		</tr>
	</table>
</form>
{{include file='footer.html'}}